<h1>Consent</h1>

<p>Please read this consent agreement carefully before deciding whether to participate in this experiment.</p>

<p>This HIT is part of an MIT scientific research project. Your decision to complete this HIT is voluntary. There is
    no way for us to identify you. The only information we will have, in addition to your responses, is the time at
    which
    you completed the survey. The results of the research may be presented at scientific meetings or published in
    scientific
    journals. Clicking on the 'SUBMIT' button on the bottom of this page indicates that you are at least 18 years of age
    and
    agree to complete this HIT voluntarily.</p>

<p><strong>Purpose of the research:</strong> To examine the way people make judgments and choices.</p>

<p><strong>What you will do in this research:</strong> Text and images will be presented on the computer and you will be
    asked to make
    choices.</p>

<p><strong>Time required:</strong> Participation will take between 10 and 20 minutes to complete.</p>

<p><strong>Risks:</strong> The effects of participating should be comparable to those you would experience from viewing
    a computer monitor
    for the task duration and using a mouse or keyboard.</p>

<p><strong>Benefits:</strong> This study provides no benefits to you individually. The study provides important
    information about how people
    make decisions. Others may benefit in the future from the results of this study.</p>

<p><strong>Compensation:</strong> You will receive between $1.00 and $6.00 on Amazon Mechanical Turk depending on your
    choices.</p>

<p><strong>Participation and withdrawal:</strong> Your participation in this study is completely voluntary and you may
    refuse to participate
    or you may choose to withdraw at any time without penalty or loss of benefits to which you are otherwise entitled.
</p>

<p><strong>How to contact the researcher:</strong> If you have questions or concerns about your participation or
    payment, or want to request
    a summary of research findings, please contact Rahul Bhui; Email: rbhui@mit.edu; Phone: (617) 253-9250.</p>

<p><strong>Whom to contact about your rights in this research:</strong> For questions, concerns, suggestions, or
    complaints that have not
    been or cannot be addressed by the researcher, or to report research-related harm, please contact the Committee on
    the
    Use of Humans as Experimental Subjects (COUHES); Email: couhes@mit.edu; Phone: (617) 253-6787. Please print or save
    a copy
    of this form for your records.</p>

<div class="alert alert-primary" role="alert">
    <h3>Agreement</h3>
    <p><strong>
            The nature and purpose of this research have been sufficiently explained and I agree to participate in this
            study. I understand that I am free to withdraw at any time without incurring any penalty.
        </strong></p>
    <p>
        Please consent by clicking the button below to continue. Otherwise, please exit the study at this time.
    </p>
    <div align=center>
        <p>
            <input type="checkbox" id="consent_checkbox" style="transform: scale(1.5);" />
            &nbsp;I agree to take part in this study.
        </p>

        <button type="button" id="start" class="jspsych-btn" disabled>Continue</button>
    </div>