<div class="choice-status">
    <p id="prompt"></p>
    <table class="std-size-container">
        <td rowspan="2" class="td-icon">
            <i class="fa-solid fa-book"></i>
        </td>
        <td class="td-text"><strong>Standard size</strong></td>
        </tr>
        <tr>
            <td class="indicator td-text"><span id="std-size"></span></td>
        </tr>
    </table>

    <table class="ideal-size-container">
        <td rowspan="2" class="td-icon">
            <i class="fa-solid fa-bolt-lightning"></i>
        </td>
        <td class="td-text"><strong>Ideal size</strong></td>
        </tr>
        <tr>
            <td class="indicator td-text"><span id="ideal-size"></span></td>
        </tr>
    </table>

    <table>
        <td rowspan="2" class="td-icon">
            <i class="fa-solid fa-users"></i>
        </td>
        <td class="td-text"><strong>Teammates</strong></td>
        </tr>
        <tr>
            <td class="indicator td-text"><span id="n-team"></span></td>
        </tr>
    </table>

    <table>
        <td rowspan="2" class="td-icon">
            <i class="fa-solid fa-wifi"></i>
        </td>
        <td class="td-text"><strong>Reception</strong></td>
        </tr>
        <tr>
            <td class="indicator td-text"><span id="p-message"></span></td>
        </tr>
    </table>
</div>

<div class="widget_sizer">
    <div class="widget_container">
        <img class="widget"/>
    </div>
    <div id="slider"></div>
    <p>Size: <span id="slider_size" class="slider_val"></span>&nbsp; &nbsp; Teamwork loss: <span id="slider_score"
        class="slider_val"></span></p>
    <button class="inactive">Continue</button>
</div>